.header-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  cursor:default;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  margin-right: var(--dl-space-space-twounits);
  transition: 0.3s;
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.header-login:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.header-register {
  margin-right: var(--dl-space-space-twounits);
  transition: 0.3s;
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.header-register:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.header-login1 {
  color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  transition: 0.3s;
}
.header-login1:hover {
  color: #e01818;
}


@media(max-width: 767px) {
  .header-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-login {
    display: none;
  }
  .header-register {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .header-container {
    padding: var(--dl-space-space-unit);
  }
}
